<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <servlet-name>T1</servlet-name>
    <servlet-class>First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T1</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>osp.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
</web-app>